@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";
@config "./tailwind.config.js";

.accordion body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: #131a1b;
  display: flex;
  min-height: 100vh;
}

.accordion-container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
  box-sizing: border-box;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e7f4ff;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #e7f4ff;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 0.5em 0;
  color: #131a1b;
  font-size: 2.5rem;
  @apply font-medium;
  border: none;
  background: none;
  outline: none;
  padding: 1rem 2rem 1rem 0;

}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #006eb7;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #006eb7;
  border: 1px solid #006eb7;
}
.accordion button .accordion-title {
  padding: 0 0 0 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #006eb7;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 20em;
  transition: all 300ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 20px;
  @apply font-medium;
  margin: 2em 0;
}
.accordion .accordion-content ul {
  font-size: 20px;
  @apply font-medium;
  margin: 2em 0;
/*  padding-left: 1.5em; */
}
.accordion .accordion-content li:not(:last-child) {
  margin-bottom: 1em;
}