@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";
@config "./tailwind.config.js";
body {
  @apply leading-[normal] m-0;
}
@layer base {
  *,
  ::before,
  ::after {
    border-width: 0;
  }
}
.clamped-container {
  /*
   * The padding will try to be 5vw, but...
   * - It will NOT go below 1rem.
   * - It will NOT go above 4rem.
   */
  padding-inline: clamp(1rem, 20vw, 10vw);
}
html {
  scroll-behavior: smooth;
}